<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

    <form action="">
        <label for="concept">Concepto</label>
        <input  type="text" name="concept" id="">

        <label for="mount">Monto</label>
        <input  type="number" name="mount" id="">

        <label for="date">fecha</label>
        <input  type="date" name="date" id="">

        <label for="type">tipo</label>
        <select name="type" id="">
            <option value="tipo"> Seleccione tipo de ingreso</option>
            <option value="ingreso">ingreso</option>
            <option value="egreso">Egreso</option>
        </select>

        <button>agregar</button>
    </form>
    
</body>
</html>