h1{
  color: red;
}

div.cont-list{
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 80%;
  height: auto;
  border: 1px solid black;
}

.btn-add{
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: blueviolet;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
}
div.item-list{
  display: flex;
  margin: 10px;
  background-color: antiquewhite;
  height: 20px;
  width: 100%;
}







.cont-form{
  position: absolute;
  bottom: 100%;
  display: flex;
  width: 100%;
  height: auto;
  transition: bottom  1s;
}
 .visible{
  bottom: 20%;
 }


form{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  border: 1px solid black;
  padding: 30px;
}
label{
  margin-top: 20px;
}
button{
  margin-top: 20px;
  width: 30%;
}



